@model EntityGroupSearchModel

@{
    Layout = "_AdminLayout";

    //page title
    ViewBag.Title = T("Plugins.Shipping.Manager.EntityGroup").Text;
    //active menu item (system name)
    NopHtml.SetActiveMenuItemSystemName("Nop.Plugins.Shipping.Manager.EntityGroup");
}

<div class="content-header clearfix">
    <h1 class="float-left">
        @T("Plugins.Shipping.Manager.EntityGroup")
    </h1>
</div>

<div class="content">
    <div class="form-horizontal">
        @await Component.InvokeAsync("VendorScopeConfiguration")
        <div class="cards-group">
            <div class="card-body">
                <div class="row">
                    @await Html.PartialAsync("~/Plugins/SSI.Shipping.Manager/Views/EntityGroup/_EntityGroupRelationships.cshtml")
                </div>
            </div>
        </div>
    </div>
</div>
<nop-alert asp-alert-id="saveModeAlert" asp-alert-message="@T("Admin.Common.Alert.Save.Error")" />